interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.github.com/rate_limit
  response:
    body:
      string: '{"resources":{"core":{"limit":5000,"used":6,"remaining":4994,"reset":1786033232},"search":{"limit":30,"used":0,"remaining":30,"reset":1786032862},"graphql":{"limit":5000,"used":1,"remaining":4999,"reset":1786036377},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1786036402},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1786032862},"code_scanning_autofix":{"limit":10,"used":0,"remaining":10,"reset":1786032862},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1786036402},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1786036402},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1786032862},"dependency_sbom":{"limit":100,"used":0,"remaining":100,"reset":1786032862},"audit_log":{"limit":1750,"used":0,"remaining":1750,"reset":1786036402},"audit_log_streaming":{"limit":15,"used":0,"remaining":15,"reset":1786036402},"code_search":{"limit":10,"used":0,"remaining":10,"reset":1786032862},"copilot_usage_records":{"limit":1750,"used":0,"remaining":1750,"reset":1786036402}},"rate":{"limit":5000,"used":6,"remaining":4994,"reset":1786033232}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      github-authentication-token-expiration:
      - 2026-10-05 16:10:55 UTC
      x-accepted-github-permissions:
      - allows_permissionless_access=true
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - centralindia
      x-github-media-type:
      - github.v3; format=json
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4994'
      x-ratelimit-reset:
      - '1786033232'
      x-ratelimit-resource:
      - core
      x-ratelimit-used:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.github.com/search/issues?order=desc&per_page=5&q=repo%3Amicrosoft%2Fvscode+is%3Aissue+label%3Afeature-request&sort=reactions
  response:
    body:
      string: '{"total_count":28499,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/microsoft/vscode/issues/519","repository_url":"https://api.github.com/repos/microsoft/vscode","labels_url":"https://api.github.com/repos/microsoft/vscode/issues/519/labels{/name}","comments_url":"https://api.github.com/repos/microsoft/vscode/issues/519/comments","events_url":"https://api.github.com/repos/microsoft/vscode/issues/519/events","html_url":"https://github.com/microsoft/vscode/issues/519","id":118507949,"node_id":"MDU6SXNzdWUxMTg1MDc5NDk=","number":519,"title":"Allow
        to change the font size and font of the workbench","user":{"login":"hsdk123","id":4100142,"node_id":"MDQ6VXNlcjQxMDAxNDI=","avatar_url":"https://avatars.githubusercontent.com/u/4100142?v=4","gravatar_id":"","url":"https://api.github.com/users/hsdk123","html_url":"https://github.com/hsdk123","followers_url":"https://api.github.com/users/hsdk123/followers","following_url":"https://api.github.com/users/hsdk123/following{/other_user}","gists_url":"https://api.github.com/users/hsdk123/gists{/gist_id}","starred_url":"https://api.github.com/users/hsdk123/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hsdk123/subscriptions","organizations_url":"https://api.github.com/users/hsdk123/orgs","repos_url":"https://api.github.com/users/hsdk123/repos","events_url":"https://api.github.com/users/hsdk123/events{/privacy}","received_events_url":"https://api.github.com/users/hsdk123/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":272689392,"node_id":"MDU6TGFiZWwyNzI2ODkzOTI=","url":"https://api.github.com/repos/microsoft/vscode/labels/feature-request","name":"feature-request","color":"dcdcdc","default":false,"description":"Request
        for new features or functionality"},{"id":4854415179,"node_id":"LA_kwDOAn8RLM8AAAABIVh_Sw","url":"https://api.github.com/repos/microsoft/vscode/labels/workbench-fonts","name":"workbench-fonts","color":"c5def5","default":false,"description":""}],"state":"open","locked":false,"assignees":[],"milestone":{"url":"https://api.github.com/repos/microsoft/vscode/milestones/27","html_url":"https://github.com/microsoft/vscode/milestone/27","labels_url":"https://api.github.com/repos/microsoft/vscode/milestones/27/labels","id":1951901,"node_id":"MDk6TWlsZXN0b25lMTk1MTkwMQ==","number":27,"title":"On
        Deck","description":"The Issues assigned to the **On Deck** milestone under
        consideration for the upcoming milestones.","creator":{"login":"egamma","id":172399,"node_id":"MDQ6VXNlcjE3MjM5OQ==","avatar_url":"https://avatars.githubusercontent.com/u/172399?v=4","gravatar_id":"","url":"https://api.github.com/users/egamma","html_url":"https://github.com/egamma","followers_url":"https://api.github.com/users/egamma/followers","following_url":"https://api.github.com/users/egamma/following{/other_user}","gists_url":"https://api.github.com/users/egamma/gists{/gist_id}","starred_url":"https://api.github.com/users/egamma/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/egamma/subscriptions","organizations_url":"https://api.github.com/users/egamma/orgs","repos_url":"https://api.github.com/users/egamma/repos","events_url":"https://api.github.com/users/egamma/events{/privacy}","received_events_url":"https://api.github.com/users/egamma/received_events","type":"User","user_view_type":"public","site_admin":true},"open_issues":1181,"closed_issues":1132,"state":"open","created_at":"2016-08-19T16:02:12Z","updated_at":"2026-08-06T04:45:57Z","due_on":null,"closed_at":null},"comments":601,"created_at":"2015-11-24T00:52:13Z","updated_at":"2026-08-05T23:25:32Z","closed_at":null,"assignee":null,"author_association":"NONE","issue_field_values":[],"type":null,"active_lock_reason":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"issue_dependencies_summary":{"blocked_by":0,"total_blocked_by":0,"blocking":0,"total_blocking":0},"body":"At
        the moment, we can only change the font size / font of the editor. If we want
        to change the font size, we need to use a roundabout method of \"zooming in
        / out\". It would be nice if this could be adjusted through the preferences.
        \n","reactions":{"url":"https://api.github.com/repos/microsoft/vscode/issues/519/reactions","total_count":4784,"+1":3765,"-1":33,"laugh":62,"hooray":220,"confused":9,"heart":388,"rocket":164,"eyes":143},"timeline_url":"https://api.github.com/repos/microsoft/vscode/issues/519/timeline","performed_via_github_app":null,"state_reason":"reopened","pinned_comment":null,"score":1.0},{"url":"https://api.github.com/repos/microsoft/vscode/issues/10121","repository_url":"https://api.github.com/repos/microsoft/vscode","labels_url":"https://api.github.com/repos/microsoft/vscode/issues/10121/labels{/name}","comments_url":"https://api.github.com/repos/microsoft/vscode/issues/10121/comments","events_url":"https://api.github.com/repos/microsoft/vscode/issues/10121/events","html_url":"https://github.com/microsoft/vscode/issues/10121","id":169344759,"node_id":"MDU6SXNzdWUxNjkzNDQ3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.github.com/repos/microsoft/vscode/stargazers?per_page=10
  response:
    body:
      string: '{"message":"Resource not accessible by personal access token","documentation_url":"https://docs.github.com/rest/activity/starring#list-stargazers","status":"403"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      github-authentication-token-expiration:
      - 2026-10-05 16:10:55 UTC
      x-accepted-github-permissions:
      - metadata=read; contents=write
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - centralindia
      x-github-media-type:
      - github.v3; param=star; format=json
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '1786036073'
      x-ratelimit-resource:
      - core
      x-ratelimit-used:
      - '10'
    status:
      code: 403
      message: Forbidden
version: 1
