interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?query=linear+alternative
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"romanfll"},"title":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["linear","alternative"],"value":"A
        <em>linear</em>-time <em>alternative</em> for Dimensionality Reduction and
        fast visualisation"},"url":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["linear","alternative"],"value":"https://medium.com/@roman.f/a-<em>linear</em>-time-<em>alternative</em>-to-t-sne-for-dimensionality-reduction-and-fast-visualisation-5cd1a7219d6f"}},"_tags":["story","author_romanfll","story_46285535"],"author":"romanfll","children":[46285718,46285719,46285983,46286520,46286651,46287266,46287809,46288226],"created_at":"2025-12-16T06:47:09Z","created_at_i":1765867629,"num_comments":36,"objectID":"46285535","points":118,"story_id":46285535,"title":"A
        linear-time alternative for Dimensionality Reduction and fast visualisation","updated_at":"2026-03-05T23:13:12Z","url":"https://medium.com/@roman.f/a-linear-time-alternative-to-t-sne-for-dimensionality-reduction-and-fast-visualisation-5cd1a7219d6f"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"podgorniy"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["linear","alternative"],"value":"the
        same is my beef with typescript''s imports:<p>import { MyClass } from ''./lib.ts''<p>First
        you need to type what to import and then from where leaving. There is no <em>linear</em>
        way of discovering import options from the source of imports without extra
        jumping in the code.<p><em>Alternative</em>ly <em>linear</em> completion,
        or (TIL <a href=\"https://en.wikipedia.org/wiki/Progressive_disclosure\" rel=\"nofollow\">https://en.wikipedia.org/wiki/Progressive_disclosure</a>)
        would be possible for imports of shape like:<p>from ''./lib.ts'' import {
        MyClass }<p>If course authors of the import syntax had good reasons (which
        I don''t know) to build stuff that way they''ve built it."},"story_title":{"matchLevel":"none","matchedWords":[],"value":"Left
        to Right Programming"},"story_url":{"matchLevel":"none","matchedWords":[],"value":"https://graic.net/p/left-to-right-programming"}},"_tags":["comment","author_podgorniy","story_44942936"],"author":"podgorniy","comment_text":"the
        same is my beef with typescript&#x27;s imports:<p>import { MyClass } from
        &#x27;.&#x2F;lib.ts&#x27;<p>First you need to type what to import and then
        from where leaving. There is no linear way of discovering import options from
        the source of imports without extra jumping in the code.<p>Alternatively linear
        completion, or (TIL <a href=\"https:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;Progressive_disclosure\"
        rel=\"nofollow\">https:&#x2F;&#x2F;en.wikipedia.org&#x2F;wiki&#x2F;Progressive_disclosure</a>)
        would be possible for imports of shape like:<p>from &#x27;.&#x2F;lib.ts&#x27;
        import { MyClass }<p>If course authors of the import syntax had good reasons
        (which I don&#x27;t know) to build stuff that way they&#x27;ve built it.","created_at":"2025-08-19T11:29:19Z","created_at_i":1755602959,"objectID":"44950402","parent_id":44942936,"story_id":44942936,"story_title":"Left
        to Right Programming","story_url":"https://graic.net/p/left-to-right-programming","updated_at":"2026-03-05T22:31:14Z"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"317070"},"comment_text":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["linear","alternative"],"value":"How
        I understand the comment: a non-<em>linear</em> suggestion is that the budget
        for X should be 300k. The (su[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search_by_date?query=linear+alternative&tags=story
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":false},"exhaustiveNbHits":false,"exhaustiveTypo":false,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"Croffasia"},"title":{"fullyHighlighted":false,"matchLevel":"full","matchedWords":["linear","alternative"],"value":"Show
        HN: It''s a Plan \u2013 a self-hosted, open-source <em>alternative</em> to
        <em>Linear</em>"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://github.com/croffasia/itsaplan"}},"_tags":["story","author_Croffasia","story_49174295","show_hn"],"author":"Croffasia","children":[49174358],"created_at":"2026-08-04T20:05:16Z","created_at_i":1785873916,"num_comments":0,"objectID":"49174295","points":3,"story_id":49174295,"title":"Show
        HN: It''s a Plan \u2013 a self-hosted, open-source alternative to Linear","updated_at":"2026-08-05T17:28:05Z","url":"https://github.com/croffasia/itsaplan"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"campak"},"story_text":{"fullyHighlighted":false,"matchLevel":"partial","matchedWords":["linear"],"value":"Get
        everything out of your head, shape it when you''re ready, and find it when
        it matters. Dotflowy is a calm, fast outliner that keeps up with the way you
        think. Created in the likeness of Workflowy but with the plugin extensibility
        of Obsidian and the beauty of <em>Linear</em>. MCP compatible.<p>invite code:
        &quot;jesus-saves&quot;"},"title":{"fullyHighlighted":false,"mat[...]
