interactions:
- request:
    body: '{"query":"\nquery($slug: String!) {\n  post(slug: $slug) {\n    name\n    tagline\n    votesCount\n    website\n    featuredAt\n  }\n}\n","variables":{"slug":"notion-ai"}}'
    headers:
      authorization:
      - REDACTED
      content-type:
      - application/json
    method: POST
    uri: https://api.producthunt.com/v2/api/graphql
  response:
    body:
      string: '{"data":{"post":{"name":"Notion AI","tagline":"Email Intelligence for
        Gmail and beyond","votesCount":4,"website":"https://www.producthunt.com/r/f486e9a9c69552?utm_campaign=producthunt-api\u0026utm_medium=api-v2\u0026utm_source=Application%3A+product-investigator+%28ID%3A+295621%29","featuredAt":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4d993a4bdecb195328d42881e5eb87db"
      x-rate-limit-limit:
      - '6250'
      x-rate-limit-remaining:
      - '5650'
      x-rate-limit-reset:
      - '271'
    status:
      code: 200
      message: OK
version: 1
