interactions:
- request:
    body: '{"query":"project management tool","numResults":10}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"2685877ebdb368d627663578c9e6bca6\",\"resolvedSearchType\":\"\",\"results\":[{\"id\":\"https://basecamp.com/\",\"title\":\"Basecamp\",\"url\":\"https://basecamp.com/\"},{\"id\":\"https://www.projectmanager.com/\",\"title\":\"Project
        & Work Management Software - ProjectManager\",\"url\":\"https://www.projectmanager.com/\"},{\"id\":\"https://www.openproject.org/\",\"title\":\"OpenProject
        - Open Source Project Management Software\",\"url\":\"https://www.openproject.org/\"},{\"id\":\"https://www.microsoft.com/en-us/microsoft-365/planner/project-management\",\"title\":\"Project
        Management Software for Teams\",\"url\[...]
[...]
- request:
    body: '{"query":"CRM software","numResults":10}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"a5ecbc6c22021ca022b1f74a0fe74c1e\",\"resolvedSearchType\":\"\",\"results\":[{\"id\":\"https://www.hubspot.com/products/crm\",\"title\":\"Streamline
        Your Entire Business With a Free CRM\",\"url\":\"https://www.hubspot.com/products/crm\"},{\"id\":\"https://www.salesforce.com/\",\"title\":\"Salesforce:
        The #1 Agentic AI CRM | Salesforce\",\"url\":\"https://www.salesforce.com/\"},{\"id\":\"https://www.pipedrive.com/\",\"title\":\"Sales
        CRM & Pipeline Management Software | Pipedrive\",\"url\":\"https://www.pipedrive.com/\",\"author\":\"Pipedrive
        Inc / Pipedrive O\xDC\"},{\"id\":\"https://monday.com/crm/\",\"title\":\"AI
        CRM Software | monday CRM - Revenue Execution Platform\",\"url\":\"https://monday.com/crm/\"},{\"id\":\"https://www.streak.com/\",\"title\":\"Streak:
        Gmail CRM for High-Performing Teams\",\"url\":\"https://www.streak.com/\",\"publishedDate\":\"2025-01-08T00:00:00.000Z\"},{\"id\":\"https://close.com/\",\"title\":\"Close
        CRM | The CRM That Does the Work\",\"url\":\"https://close.com/\"},{\"id\":\"https://www.insightly.com/\",\"title\":\"Insightly
        CRM: Modern, scalable Customer Relationship Management software platform\",\"url\":\"https://www.insightly.com/\"},{\"id\":\"https://www.nutshell.com/\",\"title\":\"Powerful
        & Easy-to-Use CRM for Small Businesses | Nutshell\",\"url\":\"https://www.nutshell.com/\",\"publishedDate\":\"2025-06-26T00:00:00.000Z\"},{\"id\":\"https://www.copper.com/\",\"title\":\"CRM
        Software Solutions Company for Service Businesses | Copper CRM\",\"url\":\"https://www.copper.com/\"},{\"id\":\"https://www.nimble.com/\",\"title\":\"Nimble
        CRM for Small Business | Contact Management, Email Marketing, and Sales Automation\",\"url\":\"https://www.nimble.com/\"}],\"searchTime\":1768.8,\"costDollars\":{\"total\":0.007,\"search\":{\"neural\":0.007}}}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"681-geaGiVg+Hg8O7J5o0T5Mq6UJVqk"
      origin-agent-cluster:
      - ?1
      x-exa-queue-ms:
      - '0'
      x-exa-queued:
      - 'false'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query":"email marketing platform","numResults":10}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: '{"requestId":"663d6df9222f36aaf9211f7a3ab1c1c3","resolvedSearchType":"","results":[{"id":"https://mailchimp.com/","title":"Mailchimp:
        Email & SMS Marketing Platform","url":"https://mailchimp.com/"},{"id":"https://www.hubspot.com/products/marketing/email","title":"Email
        Marketing Software & Free Campaign Tools | HubSpot","url":"https://www.hubspot.com/products/marketing/email"},{"id":"https://www.activecampaign.com/platform/email-marketing","title":"Email
        Marketing & Automation Software | ActiveCampaign","url":"https://www.activecampaign.com/platform/email-marketing","publishedDate":"2024-03-18T00:00:00.000Z"},{"id":"https://www.klaviyo.com/products/email-marketing","title":"The
        Email Marketing Platform for Personalized Email Campaigns - Klaviyo","url":"https://www.klaviyo.com/products/email-marketing","publishedDate":"2025-03-23T00:00:00.000Z"},{"id":"https://www.mailerlite.com/","title":"MailerLite:
        Create Email Marketing Your Audience Will Love","url":"https://www.mailerlite.com/"},{"id":"https://www.campaignmonitor.com/","title":"Campaign
        Monitor: Email Marketing Platform & Services","url":"https://www.campaignmonitor.com/"},{"id":"https://www.brevo.com/products/marketing-platform/","title":"Marketing
        Platform | Brevo","url":"https://www.brevo.com/products/marketing-platform/","publishedDate":"2026-03-25T00:00:00.000Z"},{"id":"https://kit.com/","title":"Kit:
        Email Marketing Automation & Newsletter Growth Engine for Creators (formerly
        ConvertKit)","url":"https://kit.com/"},{"id":"https://myemma.com/","title":"Email
        marketing built for your ecosystem | Emma","url":"https://myemma.com/","publishedDate":"2026-03-30T00:00:00.000Z"},{"id":"https://emailoctopus.com/","title":"EmailOctopus:
        Email marketing made easy","url":"https://emailoctopus.com/"}],"searchTime":855,"costDollars":{"total":0.007,"search":{"neural":0.007}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"73b-gK21N7qTrMypuSRJR2hrpy+soTE"
      origin-agent-cluster:
      - ?1
      x-exa-queue-ms:
      - '0'
      x-exa-queued:
      - 'false'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query":"project management tool","numResults":10,"type":"neural"}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"5841188465f5de526cad52a2381cba62\",\"resolvedSearchType\":\"\",\"results\":[{\"id\":\"https://www.openproject.org/\",\"title\":\"OpenProject
        - Open Source Project Management Software\",\"url\":\"https://www.openproject.org/\",\"publishedDate\":\"2026-07-23T00:00:00.000Z\",\"score\":1},{\"id\":\"https://www.odoo.com/app/project\",\"title\":\"Odoo
        | Open Source Project Management\",\"url\":\"https://www.odoo.com/app/project\",\"score\":0.8888888888888888},{\"id\":\"https://www.projectmanager.com/\",\"title\":\"Project
        & Work Management Software - ProjectManager\",\"url\":\"https://www.projectmanager.com/\",\"score\":0.7777777777777778},{\"id\":\"https://twproject.com/\",\"title\":\"The
        project management software for your teams - Twproject\",\"url\":\[...]
- request:
    body: '{"query":"project management tool","numResults":10,"type":"neural","contents":{"text":true}}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"e3b03332794825d46dca93ee50b68a88\",\"resolvedSearchType\":\"\",\"results\":[{\"id\":\"https://www.openproject.org/\",\"title\":\"OpenProject
        - Open Source Project Management Software\",\"url\":\"https://www.openproject.org/\",\"publishedDate\":\"2026-07-23T08:07:00.000Z\",\"score\":1,\[...]
[...]
- request:
    body: '{"query":"burst test query 4","numResults":1}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: '{"requestId":"f40d1ee504f0e881eceb0438aaf48c85","resolvedSearchType":"","results":[{"id":"https://bugs.mysql.com/bug.php?id=116271","title":"MySQL
        Bugs: #116271: Performance of TPC-H Query 4","url":"https://bugs.mysql.com/bug.php?id=116271"}],"searchTime":1383.2,"costDollars":{"total":0.007,"search":{"neural":0.007}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13f-REIrexuiWgZDYCKXnBAzfjPJGXE"
      origin-agent-cluster:
      - ?1
      x-exa-queue-ms:
      - '0'
      x-exa-queued:
      - 'false'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query":"burst test query 9","numResults":1}'
    headers:
      content-type:
      - application/json
      x-api-key:
      - REDACTED
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: '{"requestId":"7f65606095954c9ae95090074cca1e60","resolvedSearchType":"","results":[{"id":"http://www.database-doctor.com/posts/tpch-q09","title":"TPC-H
        Query 9 - Composite Key Joins and Pre-aggregation","url":"http://www.database-doctor.com/posts/tpch-q09","publishedDate":"2025-12-08T00:00:00.000Z"}],"searchTime":859.2,"costDollars":{"total":0.007,"search":{"neural":0.007}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"179-+eX9uXCMOzOAg40DDdYYxWlsa8c"
      origin-agent-cluster:
      - ?1
      x-exa-queue-ms:
      - '0'
      x-exa-queued:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
