interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stackexchange.com/2.3/search/advanced?filter=withbody&order=desc&pagesize=5&q=project+management+tool+alternative&site=stackoverflow&sort=relevance
  response:
    body:
      string: '{"items":[{"tags":["android","gradle","sdk","android-gradle-plugin","android-sdk-tools"],"owner":{"account_id":2312354,"reputation":9031,"user_id":2030208,"user_type":"registered","accept_rate":67,"profile_image":"https://www.gravatar.com/avatar/8dc4fee514bfaa8eb4e6a97c48c8bb10?s=256&d=identicon&r=PG","display_name":"nsvir","link":"https://stackoverflow.com/users/2030208/nsvir"},"is_answered":true,"view_count":656815,"accepted_answer_id":45782695,"answer_count":65,"score":623,"last_activity_date":1706708609,"creation_date":1467194201,"last_edit_date":1616930932,"question_id":38096225,"content_license":"CC
        BY-SA 4.0","link":"https://stackoverflow.com/questions/38096225/automatically-accept-all-sdk-licences","title":"Automatically
        accept all SDK licences","body":"<p>Since gradle android plugins <a href=\"https://sites.google.com/a/android.com/tools/tech-docs/new-build-system\"
        rel=\"noreferrer\">2.2-alpha4</a>:</p>\n<blockquote>\n<p>Gradle will attempt
        to download missing SDK packages that a project\ndepends on</p>\n</blockquote>\n<p>Which
        is amazingly cool and was know to be a <a href=\"https://github.com/JakeWharton/sdk-manager-plugin\"
        rel=\"noreferrer\">JakeWharton project</a>.</p>\n<p>But, to download the SDK
        library you need to: accept the license agreements or gradle tells you:</p>\n<blockquote>\n<p>You
        have not accepted the license agreements of the following SDK\ncomponents:
        [Android SDK Build-Tools 24, Android SDK Platform 24].\nBefore building your
        project, you need to accept the license\nagreements and complete the installation
        of the missing components\nusing the Android Studio SDK Manager. Alternatively,
        to learn how to\ntransfer the license agreements from one workstation to another,
        go to\n<a href=\"http://d.android.com/r/studio-ui/export-licenses.html\" rel=\"noreferrer\">http://d.android.com/r/studio-ui/export-licenses.html</a></p>\n</blockquote>\n<p>And
        this is a problem because I would love to install all sdk dependencies while
        doing a <code>gradle build</code>.</p>\n<p>I am looking for a solution to
        automatically accept all licenses. Maybe a gradle script ?\nDo you have any
        ideas ?</p>\n"},{"tags":["android","android-studio","gradle","android-sdk-tools"],"owner":{"account_id":1666389,"reputation":6519,"user_id":1533690,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/35ef6df6ce0eccdd1bf5bf51ffd7483d?s=256&d=identicon&r=PG","display_name":"codable","link":"https://stackoverflow.com/users/1533690/codable"},"is_answered":true,"view_count":864512,"closed_date":1518708542,"answer_count":15,"score":624,"last_activity_date":1710157668,"creation_date":1475114036,"last_edit_date":1534962882,"question_id":39760172,"link":"https://stackoverflow.com/questions/39760172/you-have-not-accepted-the-license-agreements-of-the-following-sdk-components","closed_reason":"Duplicate","title":"You
        have not accepted the license agreements of the following SDK components","body":"<p>I
        downloaded the latest Android SDK tools version 24.4.1. I used the command
        line to install SDKs. I typed <code>y</code> when asked </p>\n\n<blockquote>\n  <p>Do
        you accept the license ''android-sdk-license-c81a61d9'' [y/n]: y\n  after
        that install succeeded.</p>\n</blockquote>\n\n<p>But when using Gradle 3.1
        to build, the follows shows up[...]
[...]
